.footer{
    margin-bottom: 70px;
}

.weniv-logo{
    max-width: 125px;
    /* height: 25px; */
margin-bottom: 20px;
}

.footer-txt{
    font-family: 'Noto Sans KR';
    font-size: 12px;
line-height: 17px;

}